<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Add New Resources</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
    <link href="../Content/css/custom.css" rel="stylesheet">
    <link href="../Content/css/calendar.css" rel="stylesheet">
    <!-- FullCalendar -->
    <link href="../Content/css/fullcalendar.min.css" rel="stylesheet">
    <link href="../Content/css/fullcalendar.print.css" rel="stylesheet" media="print">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../Content/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../Content/js/custom.js"></script>
    <script src="../Content/js/calendar.js"></script>

    <!-- jQuery Tags Input -->
    <script src="../Content/js/jquery.tagsinput.js"></script>
</head>
<body>
    <div class=container-fluid>
        <!-- navbar -->
        <nav id="topNav" class="navbar sticky-top navbar-expand-sm navbar-dark nav-color">
            <div class="container-fluid">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active active-color">
                            <a class="nav-link" href="#">
                                <div class="text-center">
                                    <span color="black" class="fa fa-bars"></span>
                                    <br />
                                    <font color="black">Menu</font>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand mx-auto" href="#">3KTERR</a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item color1">
                            <a class="nav-link" href="#">
                                <div class="text-center">
                                    <span class="fa fa-plus"></span>
                                    <br />
                                    <font color="white">New</font>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item color2">
                            <a class="nav-link" href="#">
                                <div class="text-center">
                                    <span class="fa fa-bell"></span>
                                    <br />
                                    <font color="white">Notifications</font>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item color3">
                            <a class="nav-link" href="#">
                                <div class="text-center">
                                    <span class="fa fa-clock"></span>
                                    <br />
                                    <font color="white">Schedule</font>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- /navbar -->
        <!-- card below navbar -->
        <div class="card" id="navcard">
            <div class="card-body card-no-padding-bottom">

                <div class="page-title">
                    <div class="text-center">
                        <h3>Add New Resources</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /card below navbar -->
        <div class="card card-no-border-top">
            <div class="card-body">
                <div class="k_content">
                    <form class="container">
                        <div class="row justify-content-md-center">
                            <div class="form-group col-md-4">
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control custom-input" placeholder="Enter new role">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control custom-input" placeholder="Brief Info">
                                    </div>
                                </div>
                                <br />
                                <div class="row col-md-9 col-sm-9 col-xs-12">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Role</th>
                                                <th scope="col">Brief Info</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">R1</th>
                                                <td>Maluleke Project</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">R2</th>
                                                <td>Other Project</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <div class="row col-md-9 col-sm-9 col-xs-12">
                                    <button type="submit" class="btn btn-success form-control">Save Role</button>
                                </div>

                            </div>
                            <div class="form-group col-md-4">
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control custom-input" placeholder="Enter new employee type">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control custom-input" placeholder="Brief Info">
                                    </div>
                                </div>

                                <br />
                                <div class="row col-md-9 col-sm-9 col-xs-12">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Type</th>
                                                <th scope="col">Brief Info</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">T1</th>
                                                <td>Maluleke Project</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">T2</th>
                                                <td>Other Project</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <div class="row col-md-9 col-sm-9 col-xs-12">
                                    <button type="submit" class="btn btn-success form-control">Save Employee Type</button>
                                </div>

                            </div>
                            <div class="form-group col-md-4">
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control custom-input" placeholder="Enter new access level">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control custom-input" placeholder="Brief Info">
                                    </div>
                                </div>

                                <br />
                                <div class="row col-md-9 col-sm-9 col-xs-12">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Level</th>
                                                <th scope="col">Brief Info</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">L1</th>
                                                <td>Maluleke Project</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">L2</th>
                                                <td>Other Project</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <div class="row col-md-9 col-sm-9 col-xs-12">
                                    <button type="submit" class="btn btn-success form-control">Save Access Level</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
</body>
</html>